
@import url('https://fonts.googleapis.com/css?family=Raleway:300|family=Raleway:200|family=Montserrat')

$mainShade: #17819c94

@import "./home"
@import "./blog-view"
@import "./blog-preview"
@import "./about"

html, body, .root
  margin: 0 auto
  padding: 0
  width: 100%
  height: 100%
  box-sizing: border-box
  font-family: 'Raleway', sans-serif
  font-weight: lighter !important