
@import url('https://fonts.googleapis.com/css?family=Raleway:300|family=Raleway:200|family=Montserrat')

$mainShade: #17819c94

$textDarkFaded: #0431338e
$textDarkBold: #041e33be

@import "./home"
@import "./blog-view"
@import "./blog-preview"
@import "./about"

html, body, .root
  margin: 0 auto
  padding: 0
  width: 100%
  height: 100%
  box-sizing: border-box
  font-family: 'Raleway', sans-serif
  font-weight: lighter !important
  font-size: 17px
  font-kerning: none
  color: #0a1432b3