.home
  display: inline-block
  width: 100%
  height: 100vh
  .right
    position: fixed
    top: 0
    right: 0
    width: 20%
    height: 100%
    background-color: grey
  .left
    width: 80%
    height: 100%
    .blog-feed
      overflow: scroll
      height: 100%
      .feed-title
        text-align: center
      .blog-preview-holder
        //max-width: 800px
        //float: right
        box-sizing: border-box
        background-color: #c7c7c7
        .blog-preview
          width: 100%
          height: 100%
          position: relative
          padding: 30px
          background-repeat: no-repeat
          background-size: cover
          background-position: center
        a, p, small
          text-decoration: none
          color: white
          text-transform: none
        h2, p, a
          display: block
          margin: 0 auto
          text-align: center
        p
          padding: 30px
        h2
          font-family: 'Raleway', sans-serif
          letter-spacing: 2px
          text-transform: uppercase
        small
          position: absolute
          bottom: 0
          left: 0
          padding: 20px
        .read-more
          position: absolute
          bottom: 0
          left: 0
          right: 0
          padding: 20px

          